/* 重置内外边距 */
* {
  margin: 0;
  padding: 0;
}
/* 重置列表 */
ul {
  list-style: none;
}
/* 重置a元素 */ 
a {
  text-decoration: none;
}
/* 清除浮动的影响 */
.clearfix::after {
  content: '';
  clear:both;
  display: block;
  visibility: hidden;
  height: 0;
}
/* 兼容处理 */
.clearfix {
  *zoom: 1;
}

/* 轮播模块居中 */
.banner {
  width: 790px;
  margin:0 auto;
  position: relative;
  height: 340px;
  overflow: hidden;
}
/* 轮播项并排在一起 */
.banner .content ul {
  width: 6320px;
  position: absolute;
  top:0;
}
.banner .content li {
  float: left;
}
/* 设置左右按钮样式 */
.banner .btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,.3);
  color:#fff;
  font: 50px/50px '宋体';
  top:50%;
  margin-top: -25px;
  text-align: center;
}
.banner .btnRight {
  right: 0;
}
/* 一组小点按钮的样式 */
.banner .control {
  position: absolute;
  bottom: 20px;
  left:50%;
  margin-left: -82px;
}
.banner .control a {
  float: left;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;

}
.banner .control a+a {
  margin-left:10px;
}
.banner .control a.active {
  background: red;
}